$yh:"微软雅黑","Microsoft yahei";
@import "mobile";
body,html{
	background:#f3eff0;
}


@mixin box ($box-sizing) {
	-webkit-box-sizing:$box-sizing;
	-moz-box-sizing:$box-sizing;
	-ms-box-sizing:$box-sizing;
	-o-box-sizing:$box-sizing;
	box-sizing:$box-sizing;
}

header{
	width:100%;
	height:pxToRem(90);
	background:#a90506;
	text-align:center;
	line-height:pxToRem(90);
	position:relative;
	span{
		color:#fff;
		font-family:$yh;
		font-weight:bold;
		font-size:pxToRem(36);
	}
	a{
		display:block;
		position:absolute;
		z-index:5;
		right:pxToRem(20);
		top:pxToRem(20);
		width:pxToRem(96);
		height:pxToRem(50);
		border-radius:6px;
		box-shadow: 0 0 1px #000;
		background:#b40a0a;
		color:#fff;
		line-height:pxToRem(50);
	}
}
.googsDetail{
	width:100%;
	height:pxToRem(90);
	background:#747474;
	line-height:pxToRem(90);
	color:#fff;
	font-size:pxToRem(30);
	@include box(border-box);
	padding-left:pxToRem(28);
	.goodsNum{
		padding-right:pxToRem(5);
	}
	.money{
		padding:0;
		color:#ab1919;
	}
}
.goodCar{
	width:100%;
	.goodsList{
		width:100%;
		li{
			width:100%;
			height:pxToRem(230);
			border-bottom:1px solid #cbcbcb;
			background:#fff;
			
			dl{
				width:100%;
				height:100%;
				@include box(border-box);
				padding: pxToRem(25) pxToRem(30);
				position:relative;
				.deleteBtn{
					display:block;
					position:absolute;
					right:pxToRem(30);
					top:pxToRem(35);
					width:pxToRem(29);
					height:pxToRem(36);
					background:url('../img/deleteGood.png') 0 0 no-repeat;
					background-size:100% 100%;
				}
				dt{
					float:left;
					margin-right:pxToRem(24);
					img{
						width:pxToRem(174);
						height:pxToRem(174);
					}
				}
				dd{
					float:left;
					width:pxToRem(350);
					height:pxToRem(174);
					h3{
						font-family:$yh;
						font-size:pxToRem(32);
						color:#333;
						height:pxToRem(80);
						line-height:pxToRem(40);
						overflow:hidden;
						text-overflow:ellipsis;
						display:-webkit-box;
						-webkit-line-clamp:2;
						-webkit-box-orient:vertical;
						width:pxToRem(300);
					}
					p{
						font-size:pxToRem(32);
						padding:pxToRem(3) 0;
						.pcolor{
							color:#ab1919;
						}
					}
					div{
						margin-top:pxToRem(6);
						font-size:pxToRem(32);
						line-height:pxToRem(50);
						height:pxToRem(50);
						input[type="button"]{
							width:pxToRem(58);
							height:pxToRem(42);
							text-align:center;
							line-height:pxToRem(42);
							font-weight:bold;
							font-size:pxToRem(40);
							border:none;
							border-radius:4px;
							background:#ababab;
							color:#fff;

						}
						.goodnumber{
							width:pxToRem(75);
							height:pxToRem(42);
							border:none;
							border-radius:4px;
							box-shadow: inset 0 0 2px #afafaf;
							text-align:center;
						}
					}
				}
			}
		}
	}
}
.footer{
	margin-top:pxToRem(20);
	padding-top:pxToRem(20);
	width: 100%;
	height: pxToRem(100);
	text-align: center;
	background:#70d777;
	// position:absolute;
	// bottom:0;
	// left:0;
	p{
		color: #999;
		font-size:pxToRem(16);
		display: inline-block;
	}
}